.Spinner{
    width: 70px;
    height: 70px;
    border: 10px solid gray;
    border-top: 10px solid rgb(0, 106, 255);
    border-radius: 50%;
    margin: 5px;
    animation: spin 1s infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}